html {
    height: -webkit-fill-available; 
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    font-family: Hero New, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e2e2e2;
}


.header {
    display: flex;
    height: 80px;
    background-color: #212225;
    align-items: center;
    padding-left: 400px;
    justify-content: space-between;
}

.logo {
    font-weight: 700;
    font-size: 34px;
}

.nav {
    display: flex;
    padding-right: 600px;
    gap: 12px;
    font-size: 17px;
}

.bar1 {
    height: 16px;
    background-color: #a1f2fd;
}

.bar2 {
    height: 16px;
    background-color: #625dd2;
}

.bar3 {
    height: 16px;
    background-color: #6c3fa5;
}

.banner {
    height: 400px;
    background-color: #212225;
    display: flex;
    padding-left: 442px;
    padding-right: 600px;
    justify-content: space-between;
    align-items: center;
    
}

.slogan {
    color: #e2e2e2;
    font-size: 40px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    flex-shrink: 0;
}

.banner-text {
    color: #bcbcbc;
    font-size: 20px;
    font-weight: 100;
}
