html {
    height: -webkit-fill-available; 
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    font-family: Hero New, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e2e2e2;
}


.header {
    display: flex;
    height: 80px;
    background-color: #212225;
    align-items: center;
    padding-left: 400px;
    justify-content: space-between;
}

.logo {
    font-weight: 700;
    font-size: 34px;
}

.nav {
    display: flex;
    padding-right: 600px;
    gap: 12px;
    font-size: 17px;
}

.bar1 {
    height: 16px;
    background-color: #a1f2fd;
}

.bar2 {
    height: 16px;
    background-color: #625dd2;
}

.bar3 {
    height: 16px;
    background-color: #6c3fa5;
}

.banner {
    height: 400px;
    background-color: #212225;
    display: flex;
    padding-left: 442px;
    padding-right: 600px;
    justify-content: space-between;
    align-items: center;
    
}

.slogan {
    color: #e2e2e2;
    font-size: 40px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    flex-shrink: 0;
}

img {
    border-radius: 8px;
}

.banner-text {
    color: #bcbcbc;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: -4px;

}

.button1 {
    background-color: #e2e2e2;
    padding: 6px 14px;
    width: 110px;
    border: none;
    border-radius: 8px;
    margin-top: -20px;
    font-weight: 500;
}

.button1:active {
    transform: translateY(2px);
}

.information {
    background-color: #e2e2e2;
    height: 60px;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
}

.info {
    margin-right: 140px;
}

.card-container {
    background-color: #e2e2e2;
    height: 320px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 270px;
    padding-right: 430px;
}

.card {
    width: 180px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.icon  {
    border: 3px solid #212225;
    border-radius: 16px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
}

.card-text {
    font-weight: 100;
}

.quote {
    background-color: #ffffff;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-quote {
    width: 800px;
    font-size: 28px;
    font-weight: 100;
    padding-bottom: -30;
    margin: 0;
    margin-right: 100px;
}

.author {
    font-weight: 700;
    padding-top: -30px;
    padding-left: 600px;
    margin-right: 100px;
}

.action {
    display: flex;
    background-color: #e2e2e2;
    height: 280px;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #212225;
    width: 1250px;
    height: 140px;
    border-radius: 8px;
    margin-right: 140px;
}

.action-call {
    display: flex;
    flex-direction: column;
    color: #e2e2e2;
    width: 600px;
    margin-top: -12px;
    
}

.action1 {
    font-weight: 800;
    font-size: 28px;
}

.action2 {
    margin-top: -16px;
}

.button2 {
background-color: #e2e2e2;
    padding: 6px 14px;
    width: 110px;
    border: none;
    border-radius: 8px;
    margin-top: -20px;
    font-weight: 500;
    margin-top: 10px;
}

.button2:active {
    transform: translateY(2px);
}